.about-body {
  height: auto;
  overflow: hidden;
  background-color: #171c27;
  justify-content: center;
}

.about-wrapper {
  position: relative;
  padding: 300px 0 110px 0;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  border: 1px solid rgb(218, 0, 0);
}

.about-h1 {
  position: relative;
  top: -400px;
  left: -48px;
  color: var(--primary);
  font-size: 50px;
  font-weight: 500;
  text-shadow: 2px 4px 15px rgba(0, 0, 0, 0.9);
  font-family: "Cinzel Decorative", cursive;
  transition: transform 5s ease-in-out;
}

.about-wrapper:hover .about-h1 {
  transform: translate(0px, 185px);
  transition-delay: 500ms;
}

.about-h1-2 {
  position: relative;
  top: -245px;
  left: 1000px;
  color: ivory;
  font-weight: 500;
  text-shadow: 2px 4px 15px rgb(0, 0, 0, 0.91);
  font-family: "Cinzel Decorative", cursive;
  transition: transform 2s ease-in-out;
}

.about-wrapper:hover .about-h1-2 {
  transform: translate(-960px, 0px);
}

.about-flex {
  position: relative;
  top: -50px;
  left: 2520px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: ivory;
}

.about-p1 {
  position: relative;
  top: 200px;
  left: -300px;
  transition: transform 5s ease-in-out;
}

.about-wrapper:hover .about-p1 {
  transform: translate(589px, -225px);
  transition-delay: 500ms;
}

.about-span1 {
  font-size: 40px;
  font-family: "Cinzel Decorative", cursive;
  color: var(--primary);
}

.about-p2 {
  position: relative;
  left: -294px;
  top: -500px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p2 {
  transform: translate(588px, 500px);
  transition-delay: 1s;
}
.about-p3 {
  position: relative;
  left: 0px;
  top: -500px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p3 {
  transform: translate(298px, 500px);
  transition-delay: 1.6s;
}

.about-p4 {
  position: relative;
  left: 600px;
  top: -500px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p4 {
  transform: translate(-298px, 500px);
  transition-delay: 1.2s;
}

.about-p5 {
  position: relative;
  left: 306px;
  top: -500px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p5 {
  transform: translate(0px, 500px);
  transition-delay: 1.7s;
}

.about-p6 {
  position: relative;
  left: 100px;
  top: -500px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p6 {
  transform: translate(210px, 500px);
  transition-delay: 1.2s;
}

.about-p7 {
  position: relative;
  left: 200px;
  top: -500px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p7 {
  transform: translate(138px, 500px);
  transition-delay: 1.8s;
}

.about-p8 {
  position: relative;
  left: 400px;
  top: -500px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p8 {
  transform: translate(-56px, 500px);
  transition-delay: 1s;
}

.about-p9 {
  position: relative;
  left: 200px;
  top: -500px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p9 {
  transform: translate(149px, 500px);
  transition-delay: 1.3s;
}

.about-p10 {
  position: relative;
  left: 500px;
  top: -500px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p10 {
  transform: translate(-145px, 500px);
  transition-delay: 1.4s;
}

.about-p11 {
  position: relative;
  left: 400px;
  top: -500px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p11 {
  transform: translate(-38px, 500px);
  transition-delay: 1.8s;
}

.about-p12 {
  position: relative;
  left: 860px;
  top: -500px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p12 {
  transform: translate(-491px, 500px);
  transition-delay: 1.3s;
}

.about-p13 {
  position: relative;
  left: 480px;
  top: -500px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p13 {
  transform: translate(-104px, 500px);
  transition-delay: 1.7s;
}

.about-p14 {
  position: relative;
  left: 668px;
  top: -500px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p14 {
  transform: translate(-287px, 500px);
  transition-delay: 1.1s;
}

.about-p15 {
  position: relative;
  left: 772px;
  top: -500px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p15 {
  transform: translate(-385px, 500px);
  transition-delay: 1.6s;
}

.about-p16 {
  position: relative;
  left: 0px;
  top: -500px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p16 {
  transform: translate(395px, 500px);
  transition-delay: 1.9s;
}

.about-p17 {
  position: relative;
  left: 424px;
  top: -500px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p17 {
  transform: translate(-25px, 500px);
  transition-delay: 1.2s;
}

.about-p18 {
  position: relative;
  left: 888px;
  top: -500px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p18 {
  transform: translate(-485px, 500px);
  transition-delay: 1.5s;
}

.about-p19 {
  position: relative;
  left: 992px;
  top: -500px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p19 {
  transform: translate(-583px, 500px);
  transition-delay: 1.2s;
}

/*********************************************/

.about-p-sec-2 {
  position: relative;
  display: flex;
  top: 25px;
  left: -700px;
  padding: 5px 0px;
}

.about-p20 {
  position: relative;
  left: -280px;
  top: -190px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p20 {
  transform: translate(583px, 190px);
  transition-delay: 2s;
}

.about-p21 {
  position: relative;
  left: -288px;
  top: -300px;
  transition: transform 3s ease-in-out;
}

.about-wrapper:hover .about-p21 {
  transform: translate(596px, 300px);
  transition-delay: 2s;
}

.about-p22 {
  position: relative;
  left: -112px;
  top: -500px;
  transition: transform 3s ease-in-out;
}

.about-wrapper:hover .about-p22 {
  transform: translate(425px, 500px);
  transition-delay: 1.6s;
}

.about-p23 {
  position: relative;
  left: 116px;
  top: -500px;
  transition: transform 3s ease-in-out;
}

.about-wrapper:hover .about-p23 {
  transform: translate(203px, 500px);
  transition-delay: 1.9s;
}

.about-p24 {
  position: relative;
  left: -420px;
  top: -500px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p24 {
  transform: translate(735px, 475px);
  transition-delay: 500ms;
}

.about-span2 {
  font-size: 40px;
  font-family: "Cinzel Decorative", cursive;
  color: var(--primary);
}

.about-p25 {
  position: relative;
  left: 122px;
  top: -500px;
  transition: transform 3s ease-in-out;
}

.about-wrapper:hover .about-p25 {
  transform: translate(200px, 500px);
  transition-delay: 1.8s;
}

.about-p26 {
  position: relative;
  left: 200px;
  top: -500px;
  transition: transform 3s ease-in-out;
}

.about-wrapper:hover .about-p26 {
  transform: translate(143px, 500px);
  transition-delay: 1.9s;
}

.about-p27 {
  position: relative;
  left: 448px;
  top: -500px;
  transition: transform 3s ease-in-out;
}

.about-wrapper:hover .about-p27 {
  transform: translate(-100px, 500px);
  transition-delay: 1.7s;
}

.about-p28 {
  position: relative;
  left: 492px;
  top: -500px;
  transition: transform 3s ease-in-out;
}

.about-wrapper:hover .about-p28 {
  transform: translate(-140px, 500px);
  transition-delay: 1.5s;
}

.about-p29 {
  position: relative;
  left: 556px;
  top: -500px;
  transition: transform 3s ease-in-out;
}

.about-wrapper:hover .about-p29 {
  transform: translate(-200px, 500px);
  transition-delay: 1.9s;
}

.about-p30 {
  position: relative;
  left: 700px;
  top: -500px;
  transition: transform 3s ease-in-out;
}

.about-wrapper:hover .about-p30 {
  transform: translate(-339px, 500px);
  transition-delay: 1.6s;
}

.about-p31 {
  position: relative;
  left: 864px;
  top: -500px;
  transition: transform 3s ease-in-out;
}

.about-wrapper:hover .about-p31 {
  transform: translate(-500px, 500px);
  transition-delay: 1.2s;
}

.about-p32 {
  position: relative;
  left: 668px;
  top: -500px;
  transition: transform 3s ease-in-out;
}

.about-wrapper:hover .about-p32 {
  transform: translate(-299px, 500px);
  transition-delay: 1.8s;
}

.about-p33 {
  position: relative;
  left: 122px;
  top: -500px;
  transition: transform 3s ease-in-out;
}

.about-wrapper:hover .about-p33 {
  transform: translate(250px, 500px);
  transition-delay: 1.5s;
}

.about-p34 {
  position: relative;
  left: 776px;
  top: -500px;
  transition: transform 3s ease-in-out;
}

.about-wrapper:hover .about-p34 {
  transform: translate(-400px, 500px);
  transition-delay: 1.3s;
}

.about-p35 {
  position: relative;
  left: 100px;
  top: -500px;
  transition: transform 3s ease-in-out;
}

.about-wrapper:hover .about-p35 {
  transform: translate(280px, 500px);
  transition-delay: 1.3s;
}

.about-p36 {
  position: relative;
  left: 384px;
}
.about-p37 {
  position: relative;
  left: 388px;
}
.about-p38 {
  position: relative;
  left: 1000px;
  top: -300px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p38 {
  transform: translate(-605px, 300px);
  transition-delay: 1s;
}

/*********************************************/

.about-p-sec-3 {
  position: relative;
  display: flex;
  top: 50px;
  left: -1410px;
  padding: 10px 0px;
}

.about-p39 {
  position: relative;
  left: -300px;
  top: -180px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p39 {
  transform: translate(587px, 180px);
  transition-delay: 1.8s;
}

.about-p40 {
  position: relative;
  left: 294px;
}
.about-p41 {
  position: relative;
  left: 300px;
}
.about-p42 {
  position: relative;
  left: 306px;
}
.about-p43 {
  position: relative;
  left: 345px;
}

.about-p44 {
  position: relative;
  left: 350px;
}
.about-p45 {
  position: relative;
  left: 355px;
  top: -25px;
}

.about-span3 {
  font-size: 40px;
  font-family: "Cinzel Decorative", cursive;
  color: var(--primary);
}
.about-p46 {
  position: relative;
  left: 360px;
}
.about-p47 {
  position: relative;
  left: 365px;
}
.about-p48 {
  position: relative;
  left: 370px;
}
.about-p49 {
  position: relative;
  left: 375px;
}
.about-p50 {
  position: relative;
  left: 380px;
}
.about-p51 {
  position: relative;
  left: 385px;
}
.about-p52 {
  position: relative;
  left: 390px;
}
.about-p53 {
  position: relative;
  left: 395px;
}
.about-p54 {
  position: relative;
  left: 400px;
}
.about-p55 {
  position: relative;
  left: 405px;
}
.about-p56 {
  position: relative;
  left: 408px;
}
.about-p57 {
  position: relative;
  left: 425px;
}
.about-p58 {
  position: relative;
  left: 430px;
}
.about-p59 {
  position: relative;
  left: 435px;
}
.about-p60 {
  position: relative;
  left: 1000px;
  top: 200px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p60 {
  transform: translate(-560px, -200px);
  transition-delay: 1.4s;
}

/*********************************************/

.about-p-sec-4 {
  position: relative;
  display: flex;
  top: 75px;
  left: -2050px;
  padding: 15px 0px;
}

.about-p61 {
  position: relative;
  left: -390px;
  top: -385px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p61 {
  transform: translate(625px, 385px);
  transition-delay: 1s;
}

.about-p62 {
  position: relative;
  left: 240px;
}

.about-p63 {
  position: relative;
  left: 245px;
}
.about-p64 {
  position: relative;
  left: 250px;
}
.about-span4 {
  font-size: 40px;
  font-family: "Cinzel Decorative", cursive;
  color: var(--primary);
}
.about-p65 {
  position: relative;
  left: 255px;
  top: -25px;
}
.about-p66 {
  position: relative;
  left: 259px;
}
.about-p67 {
  position: relative;
  left: 265px;
}
.about-p68 {
  position: relative;
  left: 270px;
}
.about-p69 {
  position: relative;
  left: 275px;
}
.about-p70 {
  position: relative;
  left: 280px;
}
.about-p71 {
  position: relative;
  left: 285px;
}
.about-p72 {
  position: relative;
  left: 290px;
}
.about-p73 {
  position: relative;
  left: 295px;
}
.about-p74 {
  position: relative;
  left: 300px;
}
.about-p75 {
  position: relative;
  left: 305px;
}
.about-p76 {
  position: relative;
  left: 310px;
}
.about-p78 {
  position: relative;
  left: 315px;
}
.about-p79 {
  position: relative;
  left: 320px;
}
.about-p80 {
  position: relative;
  left: 325px;
}
.about-p81 {
  position: relative;
  left: 330px;
  top: -25px;
}
.about-span5 {
  font-size: 40px;
  font-family: "Cinzel Decorative", cursive;
  color: var(--primary);
}
.about-p82 {
  position: relative;
  left: 335px;
}

/*********************************************/

.about-p83 {
  position: relative;
  left: 1000px;
  top: -100px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p83 {
  transform: translate(-658px, 100px);
  transition-delay: 1.1s;
}

/*********************************************/

.about-p-sec-5 {
  position: relative;
  display: flex;
  top: 100px;
  left: -2845px;
  padding: 20px 0px;
}

.about-p84 {
  position: relative;
  left: -298px;
  top: 160px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p84 {
  transform: translate(625px, -160px);
  transition-delay: 1s;
}

.about-p85 {
  position: relative;
  left: 332px;
}
.about-p86 {
  position: relative;
  left: 336px;
}
.about-p87 {
  position: relative;
  left: 340px;
}
.about-p88 {
  position: relative;
  left: 344px;
  top: -4px;
}

.about-k {
  font-size: 20px;
  font-family: "Cinzel Decorative", cursive;
  color: var(--primary);
}
.about-p89 {
  position: relative;
  left: 348px;
  top: -4px;
}

.about-name2 {
  font-size: 20px;
  font-family: "Cinzel Decorative", cursive;
  color: var(--primary);
}
.about-p90 {
  position: relative;
  left: 352px;
}
.about-p91 {
  position: relative;
  left: 356px;
}
.about-p92 {
  position: relative;
  left: 360px;
}
.about-p93 {
  position: relative;
  left: 364px;
}
.about-p94 {
  position: relative;
  left: 368px;
}
.about-p95 {
  position: relative;
  left: 372px;

  top: -8px;
}
.sec5-span1 {
  font-size: 24px;
  font-family: "Cinzel Decorative", cursive;
  color: var(--primary);
}
.about-p96 {
  position: relative;
  left: 376px;
}

.about-p98 {
  position: relative;
  left: 381px;
}
.about-p99 {
  position: relative;
  left: 386px;
}
.about-p100 {
  position: relative;
  left: 391px;
}
.about-p101 {
  position: relative;
  left: 396px;
}
.about-p102 {
  position: relative;
  left: 401px;
}

.about-p103 {
  position: relative;
  left: 1006px;
  top: -350px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p103 {
  transform: translate(-600px, 350px);
  transition-delay: 1.5s;
}

/*********************************************/

.about-p-sec-6 {
  position: relative;
  display: flex;
  top: 125px;
  left: -3680px;
  padding: 25px 0px;
}

.about-p104 {
  position: relative;
  left: -220px;
  top: -250px;
  transition: transform 5s ease-in-out;
}

.about-wrapper:hover .about-p104 {
  transform: translate(549px, 225px);
  transition-delay: 1.5s;
}
.about-span6 {
  font-size: 40px;
  font-family: "Cinzel Decorative", cursive;
  color: var(--primary);
}
.about-p105 {
  position: relative;
  left: 335px;
}
.about-p106 {
  position: relative;
  left: 340px;
}
.about-p107 {
  position: relative;
  left: 345px;
}
.about-p108 {
  position: relative;
  left: 350px;
}
.about-p109 {
  position: relative;
  left: 355px;
}
.about-p110 {
  position: relative;
  left: 360px;
}
.about-p111 {
  position: relative;
  left: 365px;
}
.about-p112 {
  position: relative;
  left: 395px;
}
.about-p113 {
  position: relative;
  left: 400px;
}
.about-p114 {
  position: relative;
  left: 408px;
  top: -4px;
}
.about-span7 {
  font-size: 20px;
  font-family: "Cinzel Decorative", cursive;
  color: var(--primary);
}
.about-p115 {
  position: relative;
  left: 415px;
}
.about-p116 {
  position: relative;
  left: 421px;
  top: -4px;
}

.about-name3 {
  font-size: 20px;
  font-family: "Cinzel Decorative", cursive;
  color: var(--primary);
}
.about-p117 {
  position: relative;
  left: 430px;
  top: -4px;
}
.about-name4 {
  font-size: 20px;
  font-family: "Cinzel Decorative", cursive;
  color: var(--primary);
}
.about-p118 {
  position: relative;
  left: 435px;
}
.about-p119 {
  position: relative;
  left: 440px;
}
.about-p120 {
  position: relative;
  left: 445px;
}
.about-p121 {
  position: relative;
  left: 450px;
}
.about-p122 {
  position: relative;
  left: 455px;
}
.about-p123 {
  position: relative;
  left: 1100px;
  top: -250px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p123 {
  transform: translate(-640px, 242px);
  transition-delay: 1.7s;
}
.sec6-span1 {
  font-size: 24px;
  font-family: "Cinzel Decorative", cursive;
  color: var(--primary);
}

/***********************SECTION-7********************/

.about-p-sec-7 {
  position: relative;
  display: flex;
  top: 150px;
  left: -4535px;
  padding: 30px 0px;
}
.about-p124 {
  position: relative;
  left: -120px;
  top: -130px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p124 {
  transform: translate(580px, 130px);
  transition-delay: 1.5s;
}
.about-p125 {
  position: relative;
  left: 465px;
}
.about-p126 {
  position: relative;
  left: 470px;
}
.about-p127 {
  position: relative;
  left: 475px;
}
.about-p128 {
  position: relative;
  left: 480px;
}
.about-p129 {
  position: relative;
  left: 485px;
}
.about-p130 {
  position: relative;
  left: 490px;
}
.about-p131 {
  position: relative;
  left: 495px;
}
.about-p132 {
  position: relative;
  left: 500px;
}
.about-p133 {
  position: relative;
  left: 405px;
  top: -620px;
  transition: transform 5s ease-in-out;
}

.about-wrapper:hover .about-p133 {
  transform: translate(100px, 595px);
  transition-delay: 500ms;
}

.sec7-span2 {
  font-size: 40px;
  font-family: "Cinzel Decorative", cursive;
  color: var(--primary);
}
.about-p134 {
  position: relative;
  left: 510px;
}
.about-p135 {
  position: relative;
  left: 515px;
}
.about-p136 {
  position: relative;
  left: 520px;
}
.about-p137 {
  position: relative;
  left: 525px;
}
.about-p138 {
  position: relative;
  left: 530px;
}
.about-p139 {
  position: relative;
  left: 535px;
}
.about-p140 {
  position: relative;
  left: 540px;
}
.about-p141 {
  position: relative;
  left: 555px;
}
.about-p142 {
  position: relative;
  left: 560px;
}
.about-p143 {
  position: relative;
  left: 565px;
}
.about-p144 {
  position: relative;
  left: 570px;
}
.about-p145 {
  position: relative;
  left: 575px;
}
.about-p146 {
  position: relative;
  left: 580px;
}
.about-p147 {
  position: relative;
  left: 1105px;
  top: 25px;
  transition: transform 5s ease-in-out;
}

.about-wrapper:hover .about-p147 {
  transform: translate(-525px, -48px);
  transition-delay: 500ms;
}
.sec7-span1 {
  font-size: 40px;
  font-family: "Cinzel Decorative", cursive;
  color: var(--primary);
}

/************************SECTION-8*********************/

.about-p-sec-8 {
  position: relative;
  display: flex;
  top: 175px;
  left: -5365px;
  padding: 35px 0px;
}
.about-p148 {
  position: relative;
  left: -100px;
  top: 50px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p148 {
  transform: translate(615px, -50px);
  transition-delay: 1.2s;
}

.about-p149 {
  position: relative;
  left: 520px;
}
.about-p150 {
  position: relative;
  left: 525px;
}
.about-p151 {
  position: relative;
  left: 530px;
}
.about-p152 {
  position: relative;
  left: 535px;
}
.about-p153 {
  position: relative;
  left: 540px;
}
.about-p154 {
  position: relative;
  left: 545px;
}
.about-p155 {
  position: relative;
  left: 550px;
}
.about-p156 {
  position: relative;
  left: 555px;
}
.about-p157 {
  position: relative;
  left: 560px;
}
.about-p158 {
  position: relative;
  left: 565px;
}
.about-p159 {
  position: relative;
  left: 570px;
}
.about-p160 {
  position: relative;
  left: 575px;
}
.about-p161 {
  position: relative;
  left: 585px;
  top: -25px;
}

.sec8-span1 {
  font-size: 40px;
  font-family: "Cinzel Decorative", cursive;
  color: var(--primary);
}
.about-p162 {
  position: relative;
  left: 590px;
}
.about-p163 {
  position: relative;
  left: 595px;
}
.about-p164 {
  position: relative;
  left: 600px;
}
.about-p165 {
  position: relative;
  left: 605px;
}
.about-p166 {
  position: relative;
  left: 610px;
}
.about-p167 {
  position: relative;
  left: 1175px;
  top: -100px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p167 {
  transform: translate(-556px, 100px);
  transition-delay: 1.9s;
}

/*************************SECTION-9***********************/
.about-p-sec-9 {
  position: relative;
  display: flex;
  top: 200px;
  left: -6283px;
  padding: 40px 0px;
}

.about-p168 {
  position: relative;
  left: 50px;
  top: -90px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p168 {
  transform: translate(573px, 90px);
  transition-delay: 1.9s;
}

.about-p169 {
  position: relative;
  left: 630px;
}
.about-p170 {
  position: relative;
  left: 635px;
}
.about-p171 {
  position: relative;
  left: 640px;
}
.about-p172 {
  position: relative;
  left: 645px;
}
.about-p173 {
  position: relative;
  left: 655px;
}
.about-p174 {
  position: relative;
  left: 660px;
}
.about-p175 {
  position: relative;
  left: 665px;
}
.about-p176 {
  position: relative;
  left: 670px;
}
.about-p177 {
  position: relative;
  left: 675px;
}
.about-p178 {
  position: relative;
  left: 685px;
}
.about-p179 {
  position: relative;
  left: 690px;
}
.about-p180 {
  position: relative;
  left: 695px;
}
.about-p181 {
  position: relative;
  left: 1500px;
  top: 20px;
  transition: transform 4s ease-in-out;
}

.about-wrapper:hover .about-p181 {
  transform: translate(-798px, -20px);
  transition-delay: 1.9s;
}
