*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}
.gall-body {
  background-color: #171c27;
  height: 100vh;
}

.gall-h1 {
  color: seashell;
  font-size: 100px;
}
