*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #171c27;
  overflow: hidden;
  height: 100vh;
}

body {
  height: 100%;
  overflow: auto;
}
.gall-body {
  height: 100%;
  text-align: center;
  padding: 0 0 1px 0;
}

.gall-body-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: -webkit-linear-gradient(
    -50deg,
    #171c27,
    rgb(44, 44, 61),
    rgb(34, 34, 48),
    rgb(28, 28, 43),
    #171c27 25%
  );

  box-shadow: 0 10px 80px 10px #171c27, 0 0px 80px 20px #171c27 inset;
}

.gall-h1 {
  color: ivory;
  font-family: "Cinzel Decorative", cursive;
  font-size: 100px;
  font-weight: 100;
  letter-spacing: 20px;
  text-align: center;
  text-shadow: 2px 4px 15px rgba(0, 0, 0, 0.9);

  padding-bottom: 100px;
}

.gall-name {
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
  font-size: 23px;
  color: red;
  padding: 25px;
}
