.menu-container {
  position: fixed;
  top: 30px;
  right: 90px;
  padding: 10px;
  z-index: 99;
}

.menu-container:hover {
  cursor: pointer;
}

.menu-container:hover .line {
  width: 24px;
  transition: 0.4s;
  cursor: pointer;
}

.inner-container {
  position: relative;
  height: 20px;
  top: 20px;
}

.line {
  position: relative;
  border-radius: 30px;
  width: 8px;
  height: 2px;
  background-color: ivory;
  margin: 5px 0;
  z-index: 11;
}

.line2 {
  position: relative;
  border-radius: 30px;
  width: 14px;
  height: 2px;
  background-color: ivory;
  margin: 5px 0;
  z-index: 11;
}

.line3 {
  position: relative;
  border-radius: 30px;
  width: 24px;
  height: 2px;
  background-color: ivory;
  margin: 5px 0;
  z-index: 11;
}
