/* MENU STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.openham-container {
  position: absolute;
  bottom: -900px;
  right: -95px;
  width: 400px;
  height: 1000px;
  background-color: #19191ba4;
  /*background-image: url(../img/dark-tree.png);*/
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  z-index: 99;
  animation: burger 1s linear;
}

@keyframes burger {
  0% {
    opacity: 0;
    width: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

ul {
  list-style-type: none;
  padding: 120px 0 0 0;
}

li {
  text-align: center;
  justify-content: center;
  padding: 50px 0;
  color: rgb(255, 255, 255);
  font-size: 25px;
  animation: ham-wording 1.5s linear;
  z-index: 100;
}

@keyframes ham-wording {
  0% {
    font-size: 25px;
  }
  50% {
    letter-spacing: 5px;
  }
  100% {
    font-size: 25px;
  }
}

.home-box {
  position: relative;
  top: -82px;
  left: 200px;
  width: 40px;
  height: 30px;
  border-radius: 0 10px 10px 0;
  opacity: 0;
  background-color: rgba(255, 0, 0, 0.452);
  z-index: -1;
  animation: menubox 0.4s linear 1.5s forwards, none;
}

@keyframes menubox {
  0% {
    left: 30px;
    opacity: 0.2;
  }
  100% {
    left: 200px;
    opacity: 1;
  }
}

.gall-box {
  position: relative;
  top: -83px;
  left: 300px;
  width: 40px;
  height: 30px;
  border-radius: 10px 0px 0px 10px;
  opacity: 0;
  background-color: rgba(255, 0, 0, 0.452);
  z-index: -1;
  animation: gallbox 0.4s linear 1.7s forwards, none;
}

@keyframes gallbox {
  0% {
    left: 400px;
    opacity: 0.2;
  }
  100% {
    left: 143px;
    opacity: 1;
  }
}

.create-gall-box {
  position: relative;
  top: -82px;
  left: 157px;
  width: 40px;
  height: 30px;
  border-radius: 0px 10px 10px 0px;
  opacity: 0;
  background-color: rgba(255, 0, 0, 0.452);
  z-index: -1;
  animation: create-gall-box 0.4s linear 1.6s forwards, none;
}

@keyframes create-gall-box {
  0% {
    left: 0px;
    opacity: 0.2;
  }
  100% {
    left: 248px;
    opacity: 1;
  }
}

@keyframes contactbox {
  0% {
    left: 400px;
    opacity: 0.2;
  }
  100% {
    left: 150px;
    opacity: 1;
  }
}

.ham-line {
  position: relative;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  top: -65px;
  color: rgb(255, 0, 0);
  animation: ham-lightshow 0.3s linear 1s forwards, none;
}

@keyframes ham-lightshow {
  0% {
    width: 400px;
    opacity: 0;
  }
  50% {
    width: 400px;
    opacity: 0;
  }
  80% {
    width: 400px;
    opacity: 1;
  }
  100% {
    width: 400px;
    opacity: 1;
  }
}

.create-gal {
  text-align: center;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  max-width: 180px;
  min-width: 180px;
}
