.first-red-line {
  position: relative;
  top: 3310px;
  left: -200px;
  width: 1px;
  height: 380px;
  background-color: rgb(255, 0, 0);
  z-index: 15;
}

.second-red-line {
  position: relative;
  top: 2559px;
  left: 150px;
  width: 1px;
  height: 750px;
  background-color: rgb(255, 0, 0);
  z-index: 15;
}

.third-red-line {
  position: relative;
  top: 1401px;
  left: 500px;
  width: 1px;
  height: 1158px;
  background-color: rgb(255, 0, 0);
  z-index: 15;
}
