*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito", sans-serif;
  background-image: -webkit-linear-gradient(
    -50deg,
    #171c27,
    rgb(44, 44, 61),
    rgb(34, 34, 48),
    rgb(28, 28, 43),
    #171c27 25%
  );
}

.App {
  font-family: "Nunito", sans-serif;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: ivory;
  min-width: 320px;
  z-index: 1;
}

.header-container {
  max-width: 1200px;
  margin: 50px 0 50px 0;
}

.face-img {
  position: relative;
  width: 600px;
  height: 350px;
  border-radius: 50%;
  transform: rotate(35deg);
  margin: 150px 0 0 0px;
  box-shadow: 0px 0px 15px 0px rgb(44, 44, 61), 0px 0px 15px 0px rgb(43, 43, 54),
    0px 0px 15px 0px rgb(25, 25, 36) inset;
  -webkit-box-reflect: below -20px linear-gradient(transparent, #0002);
  animation: face 6s linear;
  z-index: 1;
}

@keyframes face {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/*
#homeh1 {
  position: relative;
  top: 300px;
  right: -100px;
  color: ivory;
  outline: none;
  font-weight: 700;
  line-height: 1.1em;
  letter-spacing: 2px;
  transform: rotate(10deg) skewX(-20deg);
  text-shadow: 1px 1px #e6e8eb, 2px 2px #e6e8eb, 3px 3px #e6e8eb,
    4px 4px #e6e8eb, 5px 5px #e6e8eb, 6px 6px #e6e8eb, 7px 7px #e6e8eb,
    8px 8px #e6e8eb, 9px 9px #e6e8eb, 10px 10px #2a3346, 11px 11px #2a3346,
    12px 12px #2a3346, 20px 20px rgba(0, 0, 0, 0.5);
}
*/

#homeh1 {
  color: ivory;
  font-family: "Cinzel Decorative", cursive;
  font-size: 100px;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 2px 4px 15px rgba(0, 0, 0, 0.9);
  z-index: 5;
}

.span-homeh1 {
  color: rgb(255, 0, 0);
}

.home-display-row {
  display: flex;
  flex-direction: row;
}

.p-line {
  position: relative;
  top: 106px;
  left: 80px;
  background-color: rgb(255, 0, 0);
  width: 1px;
  height: 200px;
  animation: line1 2s linear;
}

@keyframes line1 {
  0% {
    height: 0px;
  }
  100% {
    height: 200px;
  }
}

.p-line2 {
  position: relative;
  top: 435px;
  right: 150px;
  width: 1px;
  height: 80px;
  transform: rotateZ(90deg);
  background-color: rgb(255, 0, 0);
  z-index: 5;
}

.home-p1 {
  position: relative;
  font-size: 20px;
  max-width: 390px;
  min-width: 390px;
  margin: 100px;
  letter-spacing: 5px;
  line-height: 30px;
  z-index: 5;
}
