*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

.App {
  text-align: center;
  font-family: "Fraunces", serif;
}

.App-header {
  background-color: #282c34;
  background-image: -webkit-linear-gradient(
    -50deg,
    #171c27,
    rgb(44, 44, 61),
    rgb(34, 34, 48),
    rgb(28, 28, 43),
    #171c27 25%
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: ivory;
  min-width: 320px;
}

.face-img {
  position: absolute;
  width: 400px;
  top: 0px;
  left: -60px;
  border-radius: 50%;
  transform: rotate(-35deg);
  box-shadow: 0px 0px 100px 0px rgb(44, 44, 61);
  -webkit-box-reflect: below -20px linear-gradient(transparent, #0002);
  animation: face 6s linear;
}

@keyframes face {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.shadow {
  width: 410px;
  height: 270px;
  left: -67px;
  top: 0px;
  position: absolute;
  border-radius: 50%;
  transform: rotate(-35deg);
  box-shadow: 0px 0px 90px 15px rgb(44, 44, 61) inset,
    10px 0px 5px 8px rgb(44, 44, 61) inset, 0px 0px 40px 0px rgb(44, 44, 61),
    0px -10px 40px 0px rgb(44, 44, 61);
  animation: faceshadow 6s linear;
}

@keyframes faceshadow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
