/*@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');*/

:root {
  --primary: rgb(255, 0, 0);
  --secondary: #4e4e4e;
  --error: #ff0000;
}

/* base styles & title */
body {
  font-family: "Noto Serif";
  color: var(--secondary);
  background-color: #171c27;
  height: 100vh;
}
.Gallery {
  max-width: 960px;
  background-color: #171c27;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.title h1 {
  color: ivory;
  font-size: 4rem;
  letter-spacing: 2px;
  font-weight: normal;
}

/* upload form styles */
form {
  margin: 0px auto 10px;
  text-align: center;
}

label input {
  height: 0;
  width: 0;
  opacity: 0;
}
label {
  position: relative;
  display: block;
  top: 30px;
  width: 48px;
  height: 48px;
  border: 3px solid rgba(255, 0, 0, 0.856);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
}

.form-button {
  position: relative;
  top: -30px;
  left: 0px;
  font-size: 13px;
  color: ivory;
}

label:hover {
  background: red;
  color: white;
  transition: 2.5s;
}

label:hover .form-button {
  font-size: 30px;
  top: -28px;
  left: -25px;
  cursor: pointer;
  transition: 0.8s;
}

.form-line {
  position: relative;
  top: -20px;
  left: 20px;
  width: 1px;
  background-color: rgb(255, 0, 0);
}

label:hover .form-line {
  height: 50px;
  opacity: 0;
  transition: 0.6;
  animation: formline 1s linear 0.4s forwards, none;
}

@keyframes formline {
  0% {
    height: 0px;
  }
  50% {
    height: 0px;
  }
  100% {
    height: 80px;
    opacity: 1;
  }
}

.form-line-word {
  position: relative;
  top: -100px;
  left: -30px;
  opacity: 0;
  font-size: 20px;
  z-index: 80;
}

label:hover .form-line-word {
  animation: form-line-word 0.3s linear 1.4s forwards, none;
}

@keyframes form-line-word {
  0% {
    top: -100px;
    left: -30px;
    opacity: 0;
  }
  100% {
    top: -100px;
    left: -11px;
    opacity: 1;
  }
}

.form-line-word2 {
  position: relative;
  top: -75px;
  left: 50px;
  opacity: 0;
  font-size: 22px;
  z-index: 80;
}

label:hover .form-line-word2 {
  animation: form-line-word2 0.3s linear 1.8s forwards, none;
}

@keyframes form-line-word2 {
  0% {
    top: -75px;
    left: 50px;
    opacity: 0;
  }
  100% {
    top: -75px;
    left: 25px;
    opacity: 1;
  }
}

.output {
  height: 60px;
  font-size: 0.8rem;
}
.error {
  color: var(--error);
}

/* progress bar styles */
.progress-bar {
  height: 5px;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 0, 0);
  margin-top: 20px;
}

/* image grid styles */
.img-grid {
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
}

.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}

/* modal styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.backdrop img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(255, 0, 0);
}
